[submodule "data-plane-api"]
	path = data-plane-api
	url = https://github.com/envoyproxy/data-plane-api.git
[submodule "googleapis"]
	path = googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "xds"]
	path = xds
	url = https://github.com/cncf/xds.git
